<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" style="width:250px;height:250px;" src="img/qany.png" alt="">
    <h1 class="text-uppercase mb-0">Qany에게 물어보세요</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Qring은 ~~~ 하는 서비스 입니다.</h2>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Qring 서비스 기능</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
        </a>
        <div class="text-center"><p>글 작성</p></div>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/portfolio/cake.png" alt="">
        </a>
        <div class="text-center"><p>글작성</p></div>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/portfolio/circus.png" alt="">
        </a>
        <div class="text-center"><p>글글작성</p></div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About QRING</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">여기에 글쓰믄 됩니당. ㅎㅎㅎㅎㅎㅎㅎ 가나다라마바사 아아아아자아차카타파아타아하 우에우헤우헤오lesheets for easy customization.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
      </div>      
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fas fa-download mr-2"></i>
        Download Now!
      </a>
    </div>
  </div>
</section>
