<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" style="width:250px;height:250px;" src="img/qany.png" alt="">
    <h1 class="text-uppercase mb-0">QANY에게 물어보세요</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">QRING은 메신저에서 만나볼 수 있는 보상형 질의응답 서비스입니다.</h2>
    <h2 class="font-weight-light mb-0">친구에게 질문하듯 자연스럽게, 근처 맛집부터 전공지식까지 질문하세요.</h2>
    <h2 class="font-weight-light mb-0">지금 ’QANY, 무엇이든 알려주는 고양이’ 챗봇을 LINE에서 만나보세요!</h2>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Qring 서비스 기능</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/portfolio/game.png" alt="">
        </a>
        <div class="fas text-center d-block mx-auto"><p>LINE, 카카오톡에서</p><p>바로 QANY에게 질문할 수 있습니다</p></div>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/portfolio/circus.png" alt="">
        </a>
        <div class="fas text-center d-block mx-auto"><p>친절하고 정성들인 답변들을 만나보세요.</p><p>가장 도움이 된 답변에 투표해주세요!</p></div>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
          <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <i class="fas fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/portfolio/safe.png" alt="">
        </a>
        <div class="fas text-center d-block mx-auto"><p>답변을 작성하고 활동 점수를 획득하세요.</p><p>활동 점수는 LINK 토큰으로 교환할 수 있습니다!</p></div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About QRING</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p>“QRING, 블록체인과 챗봇을 결합한 미래형 검색” </p>
        <p class="lead">QRING은 지금껏 웹으로만 운영되던 질의응답 서비스의 문제, 질 낮은 답변과 느린 응답성을 해결하기 위해 고안되었습니다. 누구나 메신저 앱을 쓰는 지금, QRING은 블록체인 보상체계와 챗봇을 활용해 직관적이고 수준 높은 미래형 검색이 될 것입니다.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>“QANY, 무엇이든 알려주는 고양이” </p>
        <p class="lead">QRING은 ‘QANY, 무엇이든 알려주는 고양이’ 챗봇으로 누구나 쉽게 사용할 수 있습니다. 친구에게 물어보듯 QANY에게 자연스럽게 질문하세요. QANY는 그 질문을 다른 사용자에게 전달하고 여러 답변들을 받아 가져옵니다. 가장 도움이 된 답변에 투표하면 끝입니다!</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>“LINK 블록체인을 이용한 토큰 이코노미 구현” </p>        
        <p class="lead">QRING은 LINK 블록체인으로 답변에 대한 보상을 제공하여, 수준 높은 답변을 유도합니다. 답변자는 답변이 채택될 때마다 활동 점수를 부여받습니다. 활동 점수는 어려운 질문을 하는 데에 현상금으로 쓰이거나, LINK 토큰으로 교환될 수 있습니다.</p>
      </div>      
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fas fa-download mr-2"></i>
        QRING PC 버전 다운로드
      </a>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">경기도 성남시 분당구 야탑동 332-23
            <br>QRING 스퀘어 11층 QRING(주)</p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="text-uppercase mb-4">About QRING Team</h4>
          <p class="lead mb-0">QRING 팀은 항상 함께할 유능한 직원을 모집하고 있습니다.
            <br /><a href="#">QRING과 함께하기</a></p>
        </div>
      </div>
    </div>
  </footer>